body {
  text-align: center;
}

div {
  margin-top: 2%;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

form {
  margin-top: 5%;
}

button {
  margin-top: 2%;

}

h2 {
  text-decoration: underline;
}

li {
  margin-top: 1%;
}
